body {
    overflow: auto;
    font-family: Verdana, Arial, Tahoma, Serif;
}

canvas {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "header"
        "middle"
        "footer";
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
}

.header {
    background: tomato;
}

.footer {
    background: lightgreen;
}

.wrapper-middle {
    display: flex;
    flex-direction: row wrap;

    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    order: 1;
    flex-basis: 30%;
    background: gold;
}

.main {
    order: 2;
    padding: 10px;
}

.aside-2 {
    order: 3;
    flex-basis: 30%;
    background: hotpink;
}

/* .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: auto 1fr auto;
    text-align: center;
}

/* We tell all items to be 100% width, via flex-basis */
/*.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.header {
    order: 1;
    background: tomato;
}

.footer {
    order: 4;
    background: lightgreen;
}

.wrapper-middle {
    order: 2;
    display: flex;
    flex-direction: row wrap;

    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    order: 1;
    flex-basis: 30%;
    background: gold;
}

.main {
    order: 2;
    padding: 10px;
}

.aside-2 {
    order: 3;
    flex-basis: 30%;
    background: hotpink;
} */